<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', first_name=post.author.first_name) }}">
{#                <img src="{{ post.author.avatar(70) }}">#}
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', first_name=post.author.first_name) }}">
                {{ post.author.first_name }}
            </a>
            said {{ moment(post.timestamp).fromNow() }}:
            <br>
            {{ post.post_details }}
        </td>
    </tr>
</table>