{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1><a href="VegLivin">heading</a></h1>
                <h2>User: {{ user.email }}</h2>
                {% if user.user_details %}<p>{{ user.user_details }}</p>{% endif %}
                <p>{{ user.first_name }} has, {{ friends|length }} friends.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user) %}
<!--                <p><a href="{{ url_for('friend', email=user.email) }}">Friend</a></p>-->
<!--                {% else %}-->
<!--                <p><a href="{{ url_for('unfriend', email=user.email) }}">Unfriend</a></p>-->
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}